.customCol1SearchPage{
    padding: 0 !important;
}

.row1{
    background: #e7e7e7;
}
.row101{
    margin-bottom: 5%;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.sortbyPart{
    margin-left: auto;
    display: flex;
    align-items: center;
}
#dropdown-basic{
    background: transparent !important;
    color: #9a9a9a;
    border: none !important;
}
.sortbyPart1{
    color: red;
}

.input1{
    padding: 1.25%;
    border-radius: 25px 0px 0px 25px;
    width: 35%;
    border: 1px solid #cecece;
    margin-left: 10%;
}

.input2{
    padding: 1.25%;
    border-radius: 0px 25px 25px 0px;
    width: 15%;
    margin-left: -2%;
    border: 1px solid #cecece;
}

.findBtn{
    padding: 1.25%;
    width: 15%;
   background: #00cccb;
   color: white;
   border: 1px solid #00cccb;
   border-radius: 0px 25px 25px 0px;
   margin-left: -4%;
}
.inputSearch{
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    margin-right: 2%;
}
.advancedSearch{
    display: grid;
    margin-left: auto;

}


.row2{
    display: flex;
    margin: 2%;
    width: 100%;
}
.row2C1{
    color: #000096; 
    font-size: 3rem;
    font-weight: 800;
    margin-left: 5%;
}
.row2C2{
    color: red;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 5px;
}
.arrowBtn{
    color: white;
    background: red;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 2%;
    padding: 15%;
    font-size: large;
}

.row3{
    margin: 2% !important;
    display: flex;
}
.femaledoc{
    height: 25vh;
    width: 100%;
}
.imgContainerDoctorDP{
    border: 2px solid #07d4c5;
    border-radius: 50%;
    overflow: hidden;
}
.doctorCard{
    padding: 20px;;
}

.doctorCardInner{
    display: flex;
    align-items: center;
    position: relative;
}
.verifiedAndRating{
    position: absolute !important;
    bottom: 5% !important;
    left: 27% !important;
    font-size: 1em !important;
    color: white !important;
    padding: 1% !important;
    display: flex;
}
.ratingContainer1{
    background: #000098 !important;
    margin-left: -7%;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    z-index: -2;
}
.doctorNameAndType{
    color: #fe292b;
    font-weight: 600;
    margin-left: 3%;
    width: 100%;
    text-align: left;
    font-size: large;
    margin-bottom: 10%;
}
.bookingButton{
    background: #000098;
    color: white;
    padding: 10px;
    font-weight: 700;
    font-size: large;
    border: none !important;
}
.searchResults{
    border-top: 2px solid blue;
    padding-top: 5%;
}
.container1{
    text-align: left !important;
    display: flex !important;
    margin-bottom: 4%;
}
.sr1{
    font-size: 3rem;
    color: rgb(59, 58, 58);
}
.sr2{
    color: #000098;
    font-weight: 700;
    font-size: 2rem;
    margin-left: auto;
    align-self: center;

}



.detailedImg{
    height: 24vh;
    width: 50%;
    border: 10px solid #69cdff;;
    border-radius: 50%;
    float: left;
}

@media (max-width: 1199px){
    .row2C1{
        font-size: medium;
    }
    .row2C2{
        font-size: medium;
    }
    .arrowBtn{
        padding: 5px;
    }
}

/* =============================================================================== */
.cardDetailed{
    border: 2px solid #cecece;
    margin: 20px;
    padding: 20px;;
}
.detailedImg{
    float: left;
}
.cardDetailedTop{
    display: flex;
    margin-bottom: 5%;
}
.imgTextContainer{
    display: flex;
    text-align: left;
    align-items: center;
}
.detailedImgText{
    padding-left: 10px;
}
.rightDetailsContainer{
    text-align: left;
    align-self: center;
    margin-left: auto;
    border-left: 2px solid #fe292b;
    padding-left: 20px;
}
.downMainButtonContainer{
    display: flex;
    margin-bottom: 5%;
}


.mainButtonHeading{
    text-align: left;
    margin-bottom: 5%;
    color: #fe292b;
    font-size: large;
    font-weight: 800;
}
.leftBtnPart{
    font-size: large;
    text-align: left;
    align-self: center;
}
.rightBtnPart{
    font-size: large;
}
.tagPart{
    text-align: left;
}
.tagPartItem{
    margin: 0px 20px;
    color: #08cb8f;
    text-decoration: underline;
}

.leftPartBtnCollection{
    margin: 2px;
    padding: 2px 10px;
    border-radius: 25px;
    border: none;
    color: #327959;
    font-weight: 500;
}
.leftPartViewAll{
    margin-left: 5%;
    color: #e0353e;;
    font-weight: 800;
    font-size: large;
}
.rightBtnCollection{
    text-align: left;
    margin-top: -2%;    
}
.rightPartBtnCollection{
    margin: 2px;
    padding: 10px 12px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
}
.collection1{
    background: #040091;
    color: #87d2be;
}
.collection2{
    background: #fe292b;
    color: white;
}


/* =============================================================================== */
.detailedImgText1{
    font-size: medium;
    font-weight: 600;
    color: #fe292b;
}
.detailedImgText2{
    font-size: xx-large;
    font-weight: 600;
    color: #000098;
}
.detailedImgText3{
    font-size: large;
    font-weight: 600;
    color: #b2b2b2;
    margin-bottom: 2%;
}
.detailedImgText4{
    font-size: medium;
    font-weight: 600;
    color: #b2b2b2;
    display: flex;
}
.noFeedbacks{
    color: #fe292b;

}
.detailedImgText41{
    margin-right: 15px;
}
.detailedImgText42{

}
/* =============================================================================== */

@media (max-width:1000px){
    .verifiedAndRating{
        z-index: 2;
    }
    .doctorNameAndType{
        font-size: small !important;
    }
    .sr1{
        font-size: medium;
        font-weight: 600;
        color: #b2b2b2;
    }
    .sr2{
        font-size: medium;
        font-weight: 600;
    }
    .row3{
        display: grid !important;
        justify-items: center;
    }
}
@media (max-width: 1050px){
    .cardDetailedTop{
        display: grid;
    }
    .imgTextContainer{
        display: grid;
    }
    .detailedImg{
        justify-self: center;
        height: unset;
    }
    .detailedImgText{
        text-align: center;
    }
    .detailedImgText4{
        text-align: center;
        justify-content: center;
    }
    .rightDetailsContainer{
        border: none;
        border-top: 2px solid #fe292b;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    .aa121a{
        justify-content: center;
    }
    .mainButtonHeading{
        text-align: center;
    }
    .downMainButtonContainer{
        display: grid;
    }
    .leftBtnPart{
        text-align: center;
        margin-bottom: 10px;
    }
    .leftPartViewAll{
        display: block;
    }
    .rightBtnPart{
        display: grid;
    }
    .tagPart{
        display: none;
    }
}

@media (max-width: 450px){
    .detailedImgText4{
        display: block;
    }
    .detailedImgText2{
        font-size: x-large;
    }
    .rightDetailsContainer{
        font-size: small;
    }
    .rightDetailsContainer{
        padding-left: 0;
    }
    .inputSearch{
        display: grid;
    }
    .advancedSearch{
        margin-left: 0;
    }
    .input1{
        width: 58%;
        margin-left: 4%;
    }
    .input2{
        margin-left: 0;
        border-radius: 0px;
        width: 20%;
    }
    .findBtn{
        margin-left: 0;
    }
    .row101{
        display: grid;
    }
    .sortbyPart{
        margin-left: 25%;
    }
}
