.customCol1SearchPage{
    padding: 0 !important;
}

.row1{
    background: #e7e7e7;
}
.sortbyPart{
    margin-left: auto;
    display: flex;
    align-items: center;
}
#dropdown-basic{
    background: transparent !important;
    color: #9a9a9a;
    border: none !important;
}
.sortbyPart1{
    color: red;
}

.input1{
    padding: 1.25%;
    border-radius: 25px 0px 0px 25px;
    width: 35%;
    border: 1px solid #cecece;
    margin-left: 10%;
}

.input2{
    padding: 1.25%;
    border-radius: 0px 25px 25px 0px;
    width: 15%;
    margin-left: -2%;
    border: 1px solid #cecece;
}

.findBtn{
    padding: 1.25%;
    width: 15%;
   background: #00cccb;
   color: white;
   border: 1px solid #00cccb;
   border-radius: 0px 25px 25px 0px;
   margin-left: -4%;
}
.inputSearch{
    display: flex;
    align-items: center;
    padding-bottom: 5%;
    margin-right: 2%;
}
.advancedSearch{
    display: grid;
    margin-left: auto;

}


.row2{
    display: flex;
    margin: 2%;
    width: 100%;
}
.row2C1{
    color: #000096; 
    font-size: 3rem;
    font-weight: 800;
    margin-left: 5%;
}
.row2C2{
    color: red;
    font-size: 3rem;
    font-weight: 800;
    margin-left: 5px;
}
.arrowBtn{
    color: white;
    background: red;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 2%;
    padding: 15%;
    font-size: large;
}

.row3{
    margin: 2% !important;
}
.femaledoc{
    height: 25vh;
    width: 100%;
}
.imgContainerDoctorDP{
    border: 2px solid #07d4c5;
    border-radius: 50%;
    overflow: hidden;
}

.doctorCardInner{
    display: flex;
    align-items: center;
    position: relative;
}
.verifiedAndRating{
    position: absolute !important;
    bottom: 5% !important;
    left: 27% !important;
    font-size: 1em !important;
    background: #000098 !important;
    color: white !important;
    padding: 1% !important;
}
.doctorNameAndType{
    color: red;
    font-weight: 600;
    margin-left: 3%;
    width: 100%;
    text-align: left;
}
.bookingButton{
    background: #000098;
    color: white;
    padding: 10px;
    font-weight: 700;
}
.searchResults{
    border-top: 2px solid blue;
    padding-top: 5%;
}
.container1{
    text-align: left !important;
    display: flex !important;
    margin-bottom: 4%;
}
.sr1{
    font-size: 3rem;
    color: rgb(59, 58, 58);
}
.sr2{
    color: #000098;
    font-weight: 700;
    font-size: 2rem;
    margin-left: auto;
    align-self: center;

}



.detailedImg{
    height: 24vh;
    width: 50%;
    border: 2px solid green;
    border-radius: 50%;
    float: left;
}

@media (max-width: 1199px){
    .row2C1{
        font-size: medium;
    }
    .row2C2{
        font-size: medium;
    }
    .arrowBtn{
        padding: 5px;
    }
}

/* =============================================================================== */
.cardDetailed{
    border: 2px solid #cecece;
    margin: 20px;
    padding: 20px;;
}
.detailedImg{
    float: left;
}
.cardDetailedTop{
    display: flex;
    margin-bottom: 10%;
}
.imgTextContainer{
    display: flex;
    text-align: left;
    align-items: center;
}
.detailedImgText{
    padding-left: 10px;
}
.rightDetailsContainer{
    text-align: left;
    align-self: center;
    margin-left: auto;
    border-left: 2px solid red;
    padding-left: 20px;
}
.downMainButtonContainer{
    display: flex;
    margin-bottom: 5%;
}


.mainButtonHeading{
    text-align: left;
    margin-bottom: 5%;
}
.leftBtnPart{
    font-size: 12px;
    text-align: left;
    align-self: center;
}
.rightBtnPart{
    font-size: 12px;
}
.tagPart{
    text-align: left;
}
.tagPartItem{
    margin: 0px 20px;
}

.leftPartBtnCollection{
    margin: 2px;
    padding: 2px 10px;
    border-radius: 25px;
    border: none;
    color: #87d2be;
    font-weight: 500;
}
.leftPartViewAll{
    margin-left: 5%;
    color: red;
    font-weight: 600;
}
.rightBtnCollection{
    text-align: left;
    margin-top: -2%;    
}
.rightPartBtnCollection{
    margin: 2px;
    padding: 10px 12px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
}
.collection1{
    background: #040091;
    color: #87d2be;
}
.collection2{
    background: #fe292b;
    color: white;
}
/* =============================================================================== */